/* sidebar styles */
.sidebar {
  display: none;
}

/* name styles */
.name-section {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name-section h2 {
  font-family: var(--merri);
  font-size: 18px;
}

/* media queries */
@media (min-width: 850px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 100px;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--dg);
    z-index: 100;
    border-radius: 0 10px 10px 0;
  }

  .sidebar-link {
    display: block;
    padding: 10px 15px;
    color: var(--lg);
    text-decoration: none;
    transition: 0.5s;
  }

  .sidebar-link:hover {
    border-radius: 0 10px 10px 0;
    background-color: var(--grey);
  }

  .sidebar-active {
    background-color: var(--grey);
    border-radius: 0 10px 10px 0;
  }
}